@media screen and (min-width: 270px) {
  .trolley {
    margin-right: 15px;
  }

  .trolley-input {
    display: none;
  }

  .trolley > label > img {
    filter: invert(1);
    width: 35px;
    height: 35px;
  }

  .trolley-input ~ .products {
    min-height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 70px;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    box-shadow: 0px 3px 5px rgb(100, 100, 100);
  }

  .trolley-input:checked ~ .products {
    display: flex;
    animation: trolley 0.5s ease;
  }

  .trolley-label {
    height: 35px;
    width: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products-head {
    display: flex;
  }

  .products-body {
    min-height: 200px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 15px;
    display: block;
  }

  .products-title {
    font-size: 1.5em;
  }

  th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
  }

  .products-buttons {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .products-buttons__button {
    height: 35px;
    width: 110px;
    border: none;
    position: relative;
    font-size: 0.9em;
    font-weight: bolder;
  }

  .delete {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
  }

  .delete::after {
    content: "";
    height: 35px;
    width: 2px;
    background-color: #ff2301;
    position: absolute;
    top: 5px;
    right: -6px;
  }

  .delete::before {
    content: "";
    height: 2px;
    width: 110px;
    background-color: #ff2301;
    position: absolute;
    top: 39px;
    right: -6px;
  }

  .total {
    background-color: #ff2301;
    color: rgb(255, 255, 255);
  }

  .total::after {
    content: "";
    height: 35px;
    width: 2px;
    background-color: rgb(45, 45, 45);
    position: absolute;
    top: 5px;
    right: -6px;
  }

  .total::before {
    content: "";
    height: 2px;
    width: 110px;
    background-color: rgb(45, 45, 45);
    position: absolute;
    top: 39px;
    right: -6px;
  }

  @keyframes trolley {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
